In [595]:
import pandas as pd
import numpy as np

In [596]:
# Reading the csv file
df_cars = pd.read_csv("used_cars.csv")
df_cars.head(10)

,brand,model,model_year,milage,fuel_type,engine,transmission,ext_col,int_col,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,Black,Black,At least 1 accident or damage reported,Yes,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,Moonlight Cloud,Gray,At least 1 accident or damage reported,Yes,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,Blue,Black,None reported,NaN,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,Black,Black,None reported,Yes,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,Glacier White Metallic,Black,None reported,NaN,"$34,999"
5,Acura,ILX 2.4L,2016,"136,397 mi.",Gasoline,2.4 Liter,F,Silver,Ebony.,None reported,NaN,"$14,798"
6,Audi,S3 2.0T Premium Plus,2017,"84,000 mi.",Gasoline,292.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,6-Speed A/T,Blue,Black,None reported,Yes,"$31,000"
7,BMW,740 iL,2001,"242,000 mi.",Gasoline,282.0HP 4.4L 8 Cylinder Engine Gasoline Fuel,A/T,Green,Green,None reported,Yes,"$7,300"
8,Lexus,RC 350 F Sport,2021,"23,436 mi.",Gasoline,311.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,6-Speed A/T,Black,Black,None reported,Yes,"$41,927"
9,Tesla,Model X Long Range Plus,2020,"34,000 mi.",NaN,534.0HP Electric Motor Electric Fuel System,A/T,Black,Black,None reported,Yes,"$69,950"

In [597]:
# Color is not likely to affect resale value unless Very High end model so we drop these columns
df_cars.drop(['ext_col','int_col'],axis=1, inplace=True)
df_cars.shape

(4009, 10)

In [598]:
print(df_cars.describe)

<bound method NDFrame.describe of          brand                            model  model_year      milage  \
0         Ford  Utility Police Interceptor Base        2013  51,000 mi.
1      Hyundai                     Palisade SEL        2021  34,742 mi.
2        Lexus                    RX 350 RX 350        2022  22,372 mi.
3     INFINITI                 Q50 Hybrid Sport        2015  88,900 mi.
4         Audi        Q3 45 S line Premium Plus        2021   9,835 mi.
...        ...                              ...         ...         ...
4004   Bentley             Continental GT Speed        2023     714 mi.
4005      Audi             S4 3.0T Premium Plus        2022  10,900 mi.
4006   Porsche                           Taycan        2022   2,116 mi.
4007      Ford                     F-150 Raptor        2020  33,000 mi.
4008       BMW                     X3 xDrive30i        2020  43,000 mi.

          fuel_type                                             engine  \
0     E85 Flex Fuel  300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...
1          Gasoline                               3.8L V6 24V GDI DOHC
2          Gasoline                                     3.5 Liter DOHC
3            Hybrid  354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...
4          Gasoline                         2.0L I4 16V GDI DOHC Turbo
...             ...                                                ...
4004       Gasoline                   6.0L W12 48V PDI DOHC Twin Turbo
4005       Gasoline      349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel
4006            NaN                                           Electric
4007       Gasoline      450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel
4008       Gasoline       248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel

                           transmission  \
0                           6-Speed A/T
1                     8-Speed Automatic
2                             Automatic
3                           7-Speed A/T
4                     8-Speed Automatic
...                                 ...
4004  8-Speed Automatic with Auto-Shift
4005     Transmission w/Dual Shift Mode
4006                          Automatic
4007                                A/T
4008                                A/T

                                    accident clean_title     price
0     At least 1 accident or damage reported         Yes   $10,300
1     At least 1 accident or damage reported         Yes   $38,005
2                              None reported         NaN   $54,598
3                              None reported         Yes   $15,500
4                              None reported         NaN   $34,999
...                                      ...         ...       ...
4004                           None reported         Yes  $349,950
4005                           None reported         Yes   $53,900
4006                           None reported         NaN   $90,998
4007                           None reported         Yes   $62,999
4008  At least 1 accident or damage reported         Yes   $40,000

[4009 rows x 10 columns]>

#### Cleaning the data

In [599]:
# missing values
df_cars.isnull().sum()

brand             0
model             0
model_year        0
milage            0
fuel_type       170
engine            0
transmission      0
accident        113
clean_title     596
price             0
dtype: int64

In [600]:
# filling the missing fuel_type with mode, accident to no and clean_title with yes
df_cars['fuel_type']=df_cars['fuel_type'].fillna(df_cars['fuel_type'].mode()[0])


# We change the whole columns to integer after filling it where 1 represents at least one accident
df_cars['accident']=df_cars['accident'].fillna('None reported')
df_cars['accident']=df_cars['accident'].apply(
    lambda x : 0 if x == "None reported" else 1
    )

df_cars['clean_title']=df_cars['clean_title'].fillna('Yes')
df_cars['clean_title'] = df_cars['clean_title'].apply(lambda x: 1 if x == 'Yes' else 0)



df_cars.isnull().sum()

brand           0
model           0
model_year      0
milage          0
fuel_type       0
engine          0
transmission    0
accident        0
clean_title     0
price           0
dtype: int64

In [601]:
len(df_cars['engine'].value_counts())
df_cars

,brand,model,model_year,milage,fuel_type,engine,transmission,accident,clean_title,price
0,Ford,Utility Police Interceptor Base,2013,"51,000 mi.",E85 Flex Fuel,300.0HP 3.7L V6 Cylinder Engine Flex Fuel Capa...,6-Speed A/T,1,1,"$10,300"
1,Hyundai,Palisade SEL,2021,"34,742 mi.",Gasoline,3.8L V6 24V GDI DOHC,8-Speed Automatic,1,1,"$38,005"
2,Lexus,RX 350 RX 350,2022,"22,372 mi.",Gasoline,3.5 Liter DOHC,Automatic,0,1,"$54,598"
3,INFINITI,Q50 Hybrid Sport,2015,"88,900 mi.",Hybrid,354.0HP 3.5L V6 Cylinder Engine Gas/Electric H...,7-Speed A/T,0,1,"$15,500"
4,Audi,Q3 45 S line Premium Plus,2021,"9,835 mi.",Gasoline,2.0L I4 16V GDI DOHC Turbo,8-Speed Automatic,0,1,"$34,999"
...,...,...,...,...,...,...,...,...,...,...
4004,Bentley,Continental GT Speed,2023,714 mi.,Gasoline,6.0L W12 48V PDI DOHC Twin Turbo,8-Speed Automatic with Auto-Shift,0,1,"$349,950"
4005,Audi,S4 3.0T Premium Plus,2022,"10,900 mi.",Gasoline,349.0HP 3.0L V6 Cylinder Engine Gasoline Fuel,Transmission w/Dual Shift Mode,0,1,"$53,900"
4006,Porsche,Taycan,2022,"2,116 mi.",Gasoline,Electric,Automatic,0,1,"$90,998"
4007,Ford,F-150 Raptor,2020,"33,000 mi.",Gasoline,450.0HP 3.5L V6 Cylinder Engine Gasoline Fuel,A/T,0,1,"$62,999"
4008,BMW,X3 xDrive30i,2020,"43,000 mi.",Gasoline,248.0HP 2.0L 4 Cylinder Engine Gasoline Fuel,A/T,1,1,"$40,000"

In [602]:
# handling the engine columns - we extract the engine size and classify based on that
import re

def extract_engine_size(val):
    match = re.search(r'(\d+(\.\d+)?)\s*[lL]', str(val))
    if match:
        return float(match.group(1))
    return None


df_cars['engine_size'] = df_cars['engine'].apply(extract_engine_size)
df_cars.drop(columns='engine', inplace=True)

In [603]:
df_cars.isnull().sum()
df_cars = df_cars[df_cars['engine_size'].notnull()]

In [604]:
df_cars['fuel_type'].value_counts()
df_cars = pd.get_dummies(df_cars, columns=['fuel_type'])

In [605]:
def simplify_transmission(value):
    val = value.lower()
    if 'cvt' in val:
        return 'CVT'
    elif 'm/t' in val or 'manual' in val:
        return 'Manual'
    elif 'a/t' in val or 'automatic' in val or 'auto-shift' in val:
        return 'Automatic'
    else:
        return 'Automatic'

df_cars.loc[:, 'transmission'] = df_cars['transmission'].apply(simplify_transmission)
df_cars = pd.get_dummies(df_cars, columns=['transmission'])

# since mode is automatic we fill nan with Automatic

In [606]:
df_cars['milage'].value_counts()

milage
110,000 mi.    15
45,000 mi.     15
55,000 mi.     13
120,000 mi.    12
92,000 mi.     12
               ..
39,611 mi.      1
92,700 mi.      1
101,387 mi.     1
36,544 mi.      1
115,872 mi.     1
Name: count, Length: 2682, dtype: int64

In [607]:
df_cars['milage'] = df_cars['milage'].str.replace('mi.', '', regex=False)
df_cars['milage'] = df_cars['milage'].str.replace(',', '')
df_cars['milage'] = df_cars['milage'].str.strip()

df_cars['milage'] = pd.to_numeric(df_cars['milage'], errors='coerce')
df_cars['milage'].describe()

count      3792.000000
mean      66088.342563
std       52345.615006
min         100.000000
25%       24211.500000
50%       54321.500000
75%       95462.500000
max      405000.000000
Name: milage, dtype: float64

In [608]:
df_cars['price'] = df_cars['price'].str.replace('$', '')

In [609]:
df_cars

,brand,model,model_year,milage,accident,clean_title,price,engine_size,fuel_type_Diesel,fuel_type_E85 Flex Fuel,fuel_type_Gasoline,fuel_type_Hybrid,fuel_type_Plug-In Hybrid,transmission_Automatic,transmission_CVT,transmission_Manual
0,Ford,Utility Police Interceptor Base,2013,51000,1,1,"10,300",3.7,False,True,False,False,False,True,False,False
1,Hyundai,Palisade SEL,2021,34742,1,1,"38,005",3.8,False,False,True,False,False,True,False,False
2,Lexus,RX 350 RX 350,2022,22372,0,1,"54,598",3.5,False,False,True,False,False,True,False,False
3,INFINITI,Q50 Hybrid Sport,2015,88900,0,1,"15,500",3.5,False,False,False,True,False,True,False,False
4,Audi,Q3 45 S line Premium Plus,2021,9835,0,1,"34,999",2.0,False,False,True,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4003,Mercedes-Benz,E-Class E 300 4MATIC,2018,53705,1,1,"25,900",2.0,False,False,True,False,False,True,False,False
4004,Bentley,Continental GT Speed,2023,714,0,1,"349,950",6.0,False,False,True,False,False,True,False,False
4005,Audi,S4 3.0T Premium Plus,2022,10900,0,1,"53,900",3.0,False,False,True,False,False,True,False,False
4007,Ford,F-150 Raptor,2020,33000,0,1,"62,999",3.5,False,False,True,False,False,True,False,False
4008,BMW,X3 xDrive30i,2020,43000,1,1,"40,000",2.0,False,False,True,False,False,True,False,False

In [610]:
df_cars['model'].value_counts()

model
M3 Base                       30
F-150 XLT                     24
Corvette Base                 22
1500 Laramie                  18
Camaro 2SS                    17
                              ..
740 iL                         1
Martin DB7 Vantage Volante     1
CT 200h Base                   1
X3 xDrive28i                   1
Golf Alltrack TSI SE           1
Name: count, Length: 1800, dtype: int64

In [611]:
model_freq = df_cars['model'].value_counts()
threshold = 10
frequent_models = model_freq[model_freq >= threshold].index

df_cars['model'] = df_cars['model'].apply(lambda x: x if x in frequent_models else 'Other')


model_counts = df_cars['model'].value_counts()
df_cars['model_encoded'] = df_cars['model'].map(model_counts)

df_cars['model_encoded'].value_counts()
df_cars.drop(columns='model', inplace=True)

df_cars.reset_index(drop = True, inplace=True)
df_cars.columns

Index(['brand', 'model_year', 'milage', 'accident', 'clean_title', 'price',
       'engine_size', 'fuel_type_Diesel', 'fuel_type_E85 Flex Fuel',
       'fuel_type_Gasoline', 'fuel_type_Hybrid', 'fuel_type_Plug-In Hybrid',
       'transmission_Automatic', 'transmission_CVT', 'transmission_Manual',
       'model_encoded'],
      dtype='object')